*.spec
*.*~
*.pyc
savegame
/build/*
/dist/*
savegame.bak
savegame.dat
savegame.dir
savegame.dat
log.txt
data/armcom2.cfg
data/debug.json
runtime_log.txt
data/armcom2.cfg
#armcom2.py#
campaigns/battle_of_france_ger.json
